* {
  font-family: monospace;
}

body {
  margin: 0;
  padding: 0;
  background-color: #1f1f1f;
}

#root {
  height: 100vh;
}

main {
  display: grid;
  grid-template-columns: 3fr 2fr;
  height: 100%;
}

ul {
  list-style: none;
}

li {
  color: white;
  max-width: 60%;
  padding: 5px;
  border-radius: 5px;
}