* {
  font-family: monospace;
}

body {
  margin: 0;
  padding: 0;
  background-color: #1f1f1f;
}

#root {
  height: 100vh;
}

ul {
  list-style: none;
}

li {
  color: white;
  max-width: 60%;
  padding: 5px;
  border-radius: 5px;
}

p {
  margin: 0;
}

select,
::picker(select) {
  border: 2px solid #4d5055;
  border-radius: 5px;
}

option {
  color: #ffffff;
  background-color: #181818;
  padding: 5px;
}