* {
  font-family: monospace;
}

body {
  margin: 0;
  padding: 0;
  background-color: #1f1f1f;
}

#root {
  display: grid;
  grid-template-rows: 0.1fr 0.9fr;
  height: 100vh;
}

main {
  display: grid;
  grid-template-columns: 3fr 2fr;
}

ul {
  list-style: none;
}