@import url("./variables.css");

#activity {
  display: flex;
  align-items: center;
  color: var(--color-base-text);
  padding: 0 0 0 10px;
  border-radius: 10px 10px 0 0;
  background-color: var(--color-activity-bg);
}