#card-grid {
  display: grid;
  grid-template-columns: repeat(8, minmax(0, 1fr));
  grid-auto-rows: 1fr;
  gap: 5px;
  padding: 10px;
}

.card {
  color: #ffffff;
  background-color: #181818;
  border: 2px solid #4d5055;
  border-radius: 5px;
}