@import url("./variables.css");

#card-grid {
  display: grid;
  grid-template-columns: repeat(8, minmax(100px, 1fr));
  grid-auto-rows: 1fr;
  gap: 5px;
  padding: 10px;
}

.card {
  color: var(--color-base-text);
  background-color: var(--color-base-bg);
  border: var(--base-border);
  border-radius: var(--base-border-radius);
}