#chat-log {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 0;
    padding: 10px;
    overflow-y: auto;
}

.message--left {
  background-color: red;
  align-self: flex-start;
}

.message--right {
  background-color: black;
  align-self: flex-end;
}