@import url("./variables.css");

#chat-form {
  display: flex;
  background-color: var(--color-base-bg);
  border-top: var(--base-border);
}

textarea {
  flex: 1;
  padding: 10px;
  color: var(--color-base-text);
  background: transparent;
  border: none;
}