#chat-log {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 0;
    padding: 10px;
    overflow-y: auto;
}

.message--left,
.message--right {
  max-width: 60%;
  white-space: pre-wrap;
  overflow-wrap: break-word;
  word-break: break-word;
  padding: 10px;
}

.message--left {
  background-color: var(--color-message-left-bg);
  align-self: flex-start;
}

.message--right {
  background-color: var(--color-message-right-bg);
  align-self: flex-end;
}