#chat-log {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 0;
    padding: 10px;
    overflow-y: auto;
}

.message--left,
.message--right {
  white-space: pre-wrap;
  overflow-wrap: break-word;
  word-break: break-word;
}

.message--left {
  max-width: 60%;
  background-color: red;
  align-self: flex-start;
}

.message--right {
  max-width: 60%;
  background-color: black;
  align-self: flex-end;
}