@import url("./variables.css");

#control-panel {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 5px;
  padding: 10px;
  background-color: var(--color-base-bg);
  border-top: var(--base-border);
}

#selected {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  grid-column: span 1;
  color: var(--color-base-text);
  background-color: var(--color-selected-bg);
  border: var(--base-border);
  border-radius: var(--base-border-radius);
}

#controls {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  gap: 5px;
}

#guess,
#end-turn {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-base-text);
  background-color: var(--color-base-bg);
  border: var(--base-border);
  border-radius: var(--base-border-radius);
}