@import url("./variables.css");
@import url('./Modal.css');

#disconnect {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

#message {
  color: var(--color-base-text);
  font-size: 1.2rem;
  font-weight: bold;
}

#return {
  color: var(--color-base-text);
  background-color: var(--color-base-bg);
  border: var(--base-border);
  border-radius: var(--base-border-radius);

}