@import url('./Modal.css');

#disconnect {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

#message {
  color: #ffffff;
  font-size: 1.2rem;
  font-weight: bold;
}

#return {
  color: #ffffff;
  background-color: #181818;
  border: 2px solid #4d5055;
  border-radius: 5px;

}