@import url("./variables.css");
@import url("./Modal.css");

#game-over {
  display: grid;
  grid-template-rows: 0.3fr 0.6fr 0.1fr;
  gap: 5px;
}

#hand {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

#results {
  padding: 5px;
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
}

#selected--black,
#selected--red {
  padding: 5px;
}

#selected--black {
  background-color: var(--color-selected-bg);
}

#selected--red {
  background-color: var(--color-opponent-selected-bg);
}

#hand--black,
#hand--red {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: var(--base-border);
  border-radius: var(--base-border-radius);
}

#hand--black {
  background-color: var(--color-selected-bg);
  grid-column-start: 2;
}

#hand--red {
  background-color: var(--color-opponent-selected-bg);
  grid-column-start: 3;
}

#replay {
  justify-self: center;
  color: var(--color-base-text);
  background-color: var(--color-base-bg);
  border: var(--base-border);
  border-radius: var(--base-border-radius);
}