@import url("./Modal.css");

#game-over {
  display: grid;
  justify-content: center;
  grid-template-rows: 0.4fr 0.6fr;
}

#hand {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

#results {
  padding: 5px;
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
}

#selected--black,
#selected--red {
  padding: 5px;
}

#selected--black {
  background-color: black;
}

#selected--red {
  background-color: red;
}

#hand--black,
#hand--red {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 2px solid #4d5055;
  border-radius: 5px;
}

#hand--black {
  background-color: black;
  grid-column-start: 2;
}

#hand--red {
  background-color: red;
  grid-column-start: 3;
}