@import url("./Modal.css");

#guess-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: #ffffff;
  font-weight: bold;
  font-size: 1.2rem;
}

#cancel,
#make-guess {
  color: #ffffff;
  background-color: #181818;
  border: 2px solid #4d5055;
  border-radius: 5px;
  flex: 1;
}

.actions {
  display: flex;
  gap: 10px;
}