@import url("./Modal.css");

#guess {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#cancel,
#make-guess {
  color: #FFFFFF;
  background-color: #181818;
  border: 2px solid #4d5055;
  border-radius: 5px;
}