@import url("./variables.css");
@import url("./Modal.css");

#guess-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: var(--color-base-text);
  font-weight: bold;
  font-size: 1.2rem;
}

#cancel,
#make-guess {
  color: #ffffff;
  background-color: var(--color-base-bg);
  border: var(--base-border);
  border-radius: var(--base-border-radius);
  flex: 1;
}

.actions {
  display: flex;
  gap: 10px;
}