@import url("./variables.css");
@import url("./Modal.css");

#incorrect-guess {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

#incorrect-icon {
  width: 100px;
  aspect-ratio: 1 / 1;
}

#close {
  color: var(--color-base-text);
  background-color: var(--color-base-bg);
  border: var(--base-border);
  padding: 5px;
  border-radius: var(--base-border-radius);
}