@import url("./variables.css");

* {
  font-family: monospace;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--color-body-bg);
}

#root {
  height: 100vh;
}

ul {
  list-style: none;
}

li {
  color: var(--color-base-text);
  max-width: 60%;
  padding: 5px;
  border-radius: 5px;
}

p {
  margin: 0;
}

select,
::picker(select) {
  border: var(--base-border);
  border-radius: var(--base-border-radius);
}

option {
  color: var(--color-base-text);
  background-color: var(--color-base-bg);
  padding: 5px;
}