#lobby {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  height: 100vh;
  color: #ffffff;
}

#status {
  color: #ffffff;
  font-size: 1.2rem;
  font-weight: bold;
}

#tip {
  color: #ffffff;
  background-color: #181818;
  border: 2px solid #4d5055;
  border-radius: 5px;
  padding: 10px;
  width: 50%;
  min-height: 100px;
}