@import url("./variables.css");

#lobby {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  height: 100vh;
  color: var(--color-base-text);
}

#status {
  color: var(--color-base-text);
  font-size: 1.2rem;
  font-weight: bold;
}

#tip {
  color: var(--color-base-text);
  background-color: var(--color-base-bg);
  border: var(--base-border);
  border-radius: var(--base-border-radius);
  padding: 10px;
  width: 50%;
  min-height: 100px;
}