@import url("./variables.css");

#redirect {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#notice {
  color: var(--color-base-text);
  border: var(--base-border);
  border-radius: var(--base-border-radius);
  padding: 10px;
  width: 250px;
}

@media (min-width: 768px) {
  #notice {
    width: 400px;
  }
}