#redirect {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#notice {
  color: #ffffff;
  border: 2px solid #4d5055;
  border-radius: 5px;
  padding: 10px;
  width: 250px;
}

@media (min-width: 768px) {
  #notice {
    width: 400px;
  }
}